.vscode
*.zip
.mypy_cache
__pycache__
assignment_*
build
dist
*venv
.idea/*
*.code-workplace
debug.py
coverage*
htmlcov

.DS_Store
.idea
*.log
/_playwright-report
/_playwright-results
/lib
/node_modules
/themes

# exceptions
!.gitkeep